#!/bin/bash
#PPalign configuration file

#Input/Output#
	INDIR=/usr/local/bin/poolparty/example
	OUTDIR=/userdir/phenoAB
	OUTPOP=phenoAB
	GENOME=/usr/local/bin/poolparty/example/PP_genome.fa
	SCAHEAD=Scaff

#Run Parameters#
	THREADZ=4
	BQUAL=20
	MAPQ=5
	SNPQ=20
	MINLENGTH=25
	INWIN=15
	MAF=0.05
	KMEM=Xmx4g
	MINDP=10

#Run-types#
	SPLITDISC=off
	INDCONT=on
	QUALREPORT=on

#Dependency Locations#
	BCFTOOLS=bcftools
	FASTQC=fastqc
	BWA=bwa
	SAMBLASTER=samblaster
	SAMTOOLS=samtools
	PICARDTOOLS=/usr/local/bin/picard.jar
	BBMAPDIR=/usr/local/bin/bbmap/
	POOL2=/usr/local/bin/popoolation2_1201/

#Languages needed on system#
	#bash/shell
	#perl
	#java
	#R


