#!/bin/bash
#PPanalyze configuration file

#Populations for analysis#
POPS=1,2

#Input files and names#
PREFIX=phenoAB_analyze
COVFILE=/userdir/phenoAB/filters/phenoAB_coverage.txt
SYNC=/userdir/phenoAB/phenoAB.sync
FZFILE=/userdir/phenoAB/phenoAB_full.fz
BLACKLIST=/userdir/phenoAB/filters/phenoAB_poly_all.txt
OUTDIR=/userdir/phenoAB/analysis

#Types of Analyses#
FST=on
SLIDINGFST=on
FET=on
NJTREE=on

#Global Parameters#
MINCOV=2
MAXCOV=100
MAF=0.06

#FST Parameters#
FSTTYPE=traditional
WINDOW=10000
STEP=5000
NIND=5

#NJ Tree Parameters
STRWINDOW=10000
BSTRAP=2000
AFFILT=1
METHOD="mean"

#Dependencies#
POOL2=/usr/local/bin/popoolation2_1201/

#Languages needed on system#
	#bash/shell
	#perl
	#R