#!/bin/bash
#PPstats configuration file

#Specify Files#
FAI=/usr/local/bin/poolparty/example/PP_genome.fa.fai
MPILEUP=/userdir/phenoAB/phenoAB_stats.mpileup
OUTDIR=/userdir/phenoAB/stats
OUTFILE=PP_stats.txt

#Parameters#
SCAFP=Scaff
THREADZ=5
MINCOV=2
MAXCOV=250

#Languages needed on system#
	#bash/shell
	#R
