#!/bin/bash
#PPalign configuration file

#Input/Output#
	INDIR=
	OUTDIR=
	OUTPOP=
	GENOME=
	SCAHEAD=

#Run Parameters#
	THREADZ=
	BQUAL=
	MAPQ=
	SNPQ=
	MINLENGTH=
	INWIN=
	MAF=
	KMEM=
	MINDP=

#Run-types#
	SPLITDISC=
	INDCONT=
	QUALREPORT=

#Optional Parameters#
	ALIGNONLY=
	USEVCF=

#Dependency Locations#
	BCFTOOLS=
	FASTQC=
	BWA=
	SAMBLASTER=
	SAMTOOLS=
	PICARDTOOLS=
	BBMAPDIR=
	POOL2=

#Languages needed on system#
	#bash/shell
	#perl
	#java
	#R


