#!/bin/bash
#PPanalyze configuration file

#Populations for analysis#
POPS=

#Input files and names#
PREFIX=
COVFILE=
SYNC=
FZFILE=
BLACKLIST=
OUTDIR=

#Types of Analyses#
FST=
SLIDINGFST=
FET=
NJTREE=

#Global Parameters#
MINCOV=
MAXCOV=
MAF=

#FST Parameters#
FSTTYPE=
WINDOW=
STEP=
NIND=

#NJ Tree Parameters
STRWINDOW=
BSTRAP=
AFFILT=
METHOD=

#Dependencies#
POOL2=

#Languages needed on system#
	#bash/shell
	#perl
	#R