# POOLPARTY- Alignment Configuration File V1#
#See README for Parameter descriptions 

#############
#Directories#
#############

INDIR="/fastqlocations"
OUTDIR="/outputfiles"
RUNDIR="/scriptlocation"
OUTPOP="Population_prefix"
GENOME="/genome/referencegenome.fa"
SCAHEAD="scaff"

################
#Run Parameters#
################

THREADZ=10
QUAL=20
MINLENGTH=50
INWIN=5
MAPQ=10
MULTICORE="off"

######################
#Dependency Locations#
######################

FASTQC="fastqc"
BWA="bwa"
SAMBLASTER="samblaster"
SAMTOOLS="samtools"
PICARDTOOLS="picard.jar"
POPTRIM="popoolation/basic-pipeline/trim-fastq.pl"
INDELREG="popoolation2/indel_filtering/identify-indel-regions.pl"
MP2SYNC="popoolation2/mpileup2sync.jar"
FILTERSYNC="popoolation2/indel_filtering/filter-sync-by-gtf.pl"

##################################
